<footer th:fragment="footer">
<br>
<hr>
	<div class="container mt-5">
		<div class="row text-center">
			<div class="col-2"></div>
			<div class="col-4">
				<ul class="list-unstyled">
					<li class="mb-1"><strong>Contacto:</strong></li>
					<li>Email: pascamuy@gmail.com</li>
					<li>Teléfono:
							<li>787-898-3055</li>
							<li>787-555-0987</li>
							<li>787-543-0989</li>
					</li>
				</ul>
			</div>			
			<div class="col-4">
			<ul class="list-unstyled">
					<li class="mb-1"><strong>Dirección:</strong></li>
					<li>Carr. 486</li>
					<li>Km. 9.32</li>
					<li>Interior Cauy PR</li>					
				</ul>
			</div>			
			<div class="col-2"></div>
		</div>
	</div>
</footer>