<div th:fragment="navReports">
	<ul class="nav nav-tabs justify-content-center ">
		<li class="nav-item"><a class="nav-link text-body" aria-current="page" th:href="@{/views/reports/dailyReport}">Informe Diario</a></li>
		<li class="nav-item"><a class="nav-link text-body"th:href="@{/views/reports/sludge/sludgeReport}">Registro de Niveles de Cieno</a></li>
		<li class="nav-item"><a class="nav-link text-body"th:href="@{/views/reports/rain/rainReport}">Registro de Evento de Lluvia</a></li>
		<li class="nav-item"><a class="nav-link text-body" th:href="@{/views/reports/chemical/chemicalReport}">Registro de Químicos</a></li>
	</ul>
</div>